header
{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-color: #ffffff;
	background-position: 20px 50%;
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #cccccc;
}

header #api_status
{
	margin-right: 30px;
	margin-top: 13px;
	float: right;
	border: 4px solid #cccccc;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.available
{
	background: #ff545f;
}

.not_available
{
	background: #cccccc;
}
